@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Regular.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Regular.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Regular.ttf')  format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Light.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Light.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Light.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Bold.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Bold.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Bold.ttf')  format('truetype');
  font-weight: bold;
}


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Changa', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
}

.main{
  background-image: linear-gradient(to top, #000, #111,#001a2493, #00222e93 86%,#00486393 93%, #006f8593 98.5%, #0093A493 99%, #00B4BF 99.5%),
  linear-gradient(to top, #000, #111,#00121a, #00222e 86%,#002736 93%, #00596b 95.5%, #006d7993 99%, #00000000 100%),
  linear-gradient(to top, #000, #111,#00121a, #00222e 80%,#002736 85%, #00596b 90.5%, #006d79 95%, #00747a00 100%);
}

.intro{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.intro *{
  color:#333;
}

.intro h1{
  font-size: 86px;
  margin: 16px 0;
  font-weight: 400;
}

canvas{
  top:0;
  position: fixed;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #D4E7D0 20%, #9DE0FE 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 500%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 120px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 160px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 120px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.metermeasure{
  position: fixed;
  top: 68%;
  left:0;
  width: 100%;
  border-bottom: 1px solid #ffffff40;
  transition: all 0.3s ease-in;
  z-index: 3;
  background-color: #00000020;
}
.metermeasure h3{
  color:#fff;
  text-align: center;
  font-size: 48px;
  margin:0;
}

.grid{
  display: grid;
  grid-template-rows: repeat(999, 50px);
  grid-template-columns: repeat(8, 1fr);
  max-width: 1400px;
  gap: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 100px;
  z-index: 2;
}

.fish-container{
  width: 100%;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.fish-container > div{
  display: block;
}

.animal-img{
  max-width: 100%;
  max-height: 100%;
  /* height: 100%; */
  object-fit: contain !important;
}

.animal-name{
  color:#fff;
}


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}