@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Regular.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Regular.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Regular.ttf')  format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Light.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Light.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Light.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Changa';
  src: url('../lib/fonts/Changa/woff2/Changa-Bold.woff2') format('woff2'),
       url('../lib/fonts/Changa/woff/Changa-Bold.woff') format('woff'),
       url('../lib/fonts/Changa/tff/Changa-Bold.ttf')  format('truetype');
  font-weight: bold;
}


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: 'Changa', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
}

.main{
  background-color: #000000;
  background-image: linear-gradient(to top, #000000 0%, #000000, #000000 85%, #000f11 93%, #00171a 94%, #001f22 95%, #00282c 96%, #003c42 98%, #0090a0 98.5%, #00a4b5 99%);
}

.intro{
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.intro *{
  color:#333;
}

.intro h1{
  font-size: 69px;
  margin: 16px 0;
  font-weight: 600;
  text-align: center;
}
.intro h3{
  font-weight:400;
}
.intro h3 span{
  color: #00a6af !important;
}


.canvas-container{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 200%;
  opacity: 1;
  animation: fadein 0.4s ease-in;
  /* perspective: 18px;
  perspective-origin: 100%; */
}

.canvas-container canvas{
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 1;
  position: fixed !important;
  height: 100vh !important;
  transition: all 0.1s ease;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(to top, #D4E7D0 20%, #9DE0FE 80%);
}


.metermeasure{
  position: fixed;
  top: 69%;
  left:0;
  opacity: 1;
  width: 100%;
  border-bottom: 1px solid #ffffff16;
  transition: all 0.3s ease-in;
  z-index: 3;
  background-color: #00000020;
  animation: fadein 0.2s linear forwards;
}
.metermeasure h3{
  color:#fff;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin:0;
}

.grid{
  direction: ltr !important;
  display: grid;
  grid-template-rows: repeat(999, 50px);
  grid-template-columns: repeat(8, 1fr);
  max-width: 1400px;
  gap: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 100px;
  z-index: 2;
}

.last-grid{
  grid-template-rows: repeat(680, 50px) !important;
}

.fish-container{
  width: 100%;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.fish-container > div{
  display: block;
}

.animal-img{
  max-width: 100%;
  max-height: 100%;
  /* height: 100%; */
  object-fit: contain !important;
}

.animal-name{
  color:#fff;
}


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}


@keyframes fadein{
  0%{
    opacity: 0;
    transform: translateY(-25px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 550px){
  .intro h1{
    font-size: 44px;
    font-weight: bold;
  }
  .grid {
    margin-top: 90vh;
      padding-left: 20px;
      padding-right: 20px;
  }
  .animal-img{
    height: auto;
  }
  .animal-name{
    font-size: 12px;
  }
}


::selection {
  background-color: salmon;
  color: white;
}
.parallax > use {
  animation: move-forever 29s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}
@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
 }
  100% {
    transform: translate(85px, 0%);
 }
}

.waves{
  position: absolute;
  width: 100%;
  left:0;
  bottom: 0;
}
.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

@media (max-width: 50em) {
  .content h1 {
    font-size: 12vmax;
 }
  .editorial {
    height: 17vw;
 }
}

.last-part>img{
  margin-bottom:-11px ;
}

.last-part > div{
    background: linear-gradient(rgb(237, 229, 206), rgb(181, 173, 154));
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-part h4{
  font-size: 68px;
  color: #2c2c54;
}
